-# %p#notice= notice

%p
  %b Name:
  = @list.name
  %b Actions:
  = link_to 'Delete', list_path(@list), method: :delete, data: { confirm: 'Are you sure?' }
%p
  %b Items:
  %ul
    = render partial: 'todo_items/todo_item', collection: @list.todo_items
%h2 add to-do item
= render 'todo_items/form'

%hr
%p
  %b Completed:
  = @list.completed

= link_to 'Edit', edit_list_path(@list)
\|
= link_to 'Back', lists_path
