.row.form.todo
  .wraper
    = form_for([@list, todo_item], remote: true) do |f|
      -# - fail
      = render 'shared/errors', object: todo_item
      .col-md-8
        .form-group
          - if flash[:popover]
            = f.text_field :name, type: 'text', autofocus: true, placeholder: 'Add to-do item here', class: 'form-control', data: {toggle: "popover", trigger: "focus", placement: "top", content: flash[:popover]}
          -else
            = f.text_field :name, type: 'text', autofocus: true, placeholder: 'Add to-do item here', class: 'form-control'
      .col-md-2
        .form-group
          = f.label :days_left
          = f.select :days_left, TodoItem::RANGE, selected: 7
      .col-md-2
        = f.submit(class: 'btn btn-primary')