.row.todo-item{id:"todo-#{todo_item.id}"}
  .col-md-10
    %h2
      %span(class="glyphicon glyphicon-chevron-right")
      = todo_item.name
      %span(class="label label-info")
        = pluralize(todo_item.days_left, 'Day')
        left
  .col-md-2
    = link_to '', edit_list_todo_item_path(@list, todo_item), class: 'btn btn-primary glyphicon glyphicon-pencil'
    = link_to '', list_todo_item_path(@list, todo_item), :method => :delete, :data => { :confirm => 'Is it really done?' }, class: 'btn btn-success glyphicon glyphicon-ok'
