.row.todo-items
  .col-md-12
    .page-header
      %h1
        = @list.name
        %span(class="label label-info")
          = pluralize(@list.todo_items.size, 'Item')
        = link_to '', list_path(@list), class: "btn btn-danger glyphicon glyphicon-remove pull-right", method: :delete, data: { confirm: 'Delete this list?' }
        = link_to '', edit_list_path(@list), class: "btn btn-primary glyphicon glyphicon-pencil pull-right"

- if @list.todo_items.size != 0
  = render partial: 'todo_items/todo_item', collection: @list.todo_items
- @todo_item ||= @list.todo_items.new
= render partial: 'todo_items/form', locals: {todo_item: @todo_item}

= link_to 'Back', lists_path
