.row.todo-items
  .col-md-12
    .page-header
      %h1
        = best_in_place @list, :name
        %span(class="label label-info")
          = pluralize(@list.todo_items.size, 'Item')
        = link_to '', list_path(@list), class: "btn btn-danger glyphicon glyphicon-remove pull-right", method: :delete, data: { confirm: 'Delete this list?' }

#todo_items_wrapper
  = render partial: 'todo_items/todo_item', collection: @list.todo_items
#todo_items_form_wrapper
  = render partial: 'todo_items/form', locals: {todo_item: @list.todo_items.new}